# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1b67ed31586d1cdac323a1f24bb26db97a8471798d6375f4bba421fcbb4d8038186d0de9d0a789615102832533c352f126029190d203a1219253addba3278bbc

test:
  secret_key_base: 9424b939b631526ddbd3f075a179243b4e2b4299b13afc7d9dd41e88e97234b2fa02d52c4b388ffb10a30d8c3aff4c0e1fc41843d57c21652b1fa21c732ee504

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
